@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Bank Ledger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
</head>
<body>
    <div>
        <ul class="navbar">
            @{var url = Request.Url.ToString();}
            @{var isLogin = (url.Contains("Login") || Request.Url.PathAndQuery == "/"); }
            <li class="navbaritem @(isLogin ? "d-none" : "")"><a class="@(url.Contains("AccountInfo") ? "active" : "")" href="/Ledger/AccountInfo">Account Info</a></li>
            <li class="navbaritem"><span class="navbarspan">Bank Ledger Inc.</span></li>
            <li class="navbaritem @(!isLogin ? "d-none" : "")"><a class="@(isLogin ? "active" : "")" href="/Login">Login</a></li>
            <li class="navbaritem @(isLogin ? "d-none" : "")"><a class="@(url.Contains("AccountLedger") ? "active" : "")" href="/Ledger/AccountLedger">Account Ledgers</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>